:root {
    --primary-color: #284d94;
    --text-color: #ffffff;
    --disabled-color: #929292;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: var(--primary-color);
    background-image: url(img/slider_home01.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;
}

.lang {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: baseline;
}

.lang a,
.lang i {
    padding: 1%;
    text-decoration: none;
    color: var(--text-color);
}

.lang i:hover,
.lang a:hover {
    cursor: pointer;
    color: var(--disabled-color);
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slogan {
    background: -webkit-linear-gradient(142deg, #284d94, #284d94, #284d94, #284d94, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(142deg, #284d94, #284d94, #284d94, #284d94, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* padding: 0 25%; */
    /* margin: 0; */
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    /* font-family: "Quicksand", cursive; */
    font-size: 40px;
    font-weight: bold;
}



nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: var(--text-color);
    /* padding: 5% 0 1% 0; */
}

nav ul li:hover {
    background-color: var(--text-color);
    color: black;
    padding: 0.2%;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #284D94;
}

.container {
    margin: 0 2%;
}

.title {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 2% 0;
    padding: 1px;
    border-radius: 10px;
}


.title h3 {
    margin-left: 1%;
}

.news_section,
.register {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.news {
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 10px;
    width: 25%;
    padding: 1%;
    margin-bottom: 2%;
}

.news:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.news img {
    width: 100%;
    border-radius: 10px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.detail h4 {
    margin: 2% 1% 0% 0;
    /* padding: 0; */
    color: var(--primary-color);
}

.detail span {
    color: #929292;
}

.register-item {
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    display: flex;
    height: 25vh;
    justify-content: center;
    align-content: center;
    /* opacity: 0.85; */
    background-blend-mode: lighten;
    background-color: #9fb0ce7c;
    border-radius: 10px;
    margin: 1% 5%;

}

.register-item:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.register-item span {
    align-self: center;
    color: var(--primary-color);
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
}

#item1 {
    background-image: url(img/BENJAMIN.jpg);
}

#item2 {
    background-image: url(img/ALEVIN.jpg);
}

#item3 {
    background-image: url(img/INFANTIL.jpg);
}

#item4 {
    background-image: url(img/MASTERS.jpg);
}

.container>span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-family: "Cedarville Cursive", cursive;
    font-size: 25px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;
}

.sponsors img {
    width: 15%;
    height: 70%;
    align-self: center;
}

.submenu {
    position: fixed;
    padding: 0;
    margin: 0;
    display: none;
}

#menu-item3:hover>.submenu#competiciones {
    display: block;
}

.submenu ul:hover {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: 2%;
    width: 100%;
    border-radius: 5px;
}

.submenu li:hover {
    color: var(--disabled-color);
    border: none;
}